.App {
  padding: 2rem;
  font-family: sans-serif;
  width: 100%;
  box-sizing: border-box;
  min-height: 100vh;
}


.selected-board {
  margin-top: 2rem;
  padding: 1rem;
}


.sort-button {
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  background-color: #0077cc;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.sort-button:hover {
  background-color: #005fa3;
}


.boards-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 1rem;
}

.cards-grid{
  display: flex;
  flex-wrap: wrap;

  gap: 1.5rem;
  margin-top: 1rem;
}